In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
tqdm.pandas()

# The goal to see the amount of runs a batter batting first scores in the 19th over of the match
## about the dataset- 
1. ball_by_ball contains detail of event of every ball bowled 
2. historical data contains result of each match,toss, venue etc.

In [2]:
historical_df=pd.read_csv("./data/ipl_historical.csv")
historical_df.head()

,season,title,match_id,match_name,series_id,series_name,match_date,match_format,team1_id,team1_name,...,umpire2,match_referee,toss_winner,toss_winner_choice,match_winner,match_result_text,mom_player,team1_playing11,team2_playing11,debut_players
0,2008,1st match,335982,Royal Challengers Bangalore Vs Kolkata Knight ...,313494,Indian Premier League in India - 2008 (2007/08),2008-04-18,T20,4341,KKR,...,RE Koertzen,J Srinath,RCB,bowl,KKR,KKR won by 140 runs,10384.0,"[""2024"",""10384"",""2230"",""11984"",""19647"",""7704"",...","[""2281"",""7130"",""49752"",""2232"",""12049"",""3947"",""...","[""48965""]"
1,2008,2nd match,335983,Kings Xi Punjab Vs Chennai Super Kings 2Nd Match,313494,Indian Premier League in India - 2008 (2007/08),2008-04-19,T20,4343,Super Kings,...,SL Shastri,S Venkataraghavan,Super Kings,bat,Super Kings,Super Kings won by 33 runs,6256.0,"[""9900"",""2119"",""6256"",""7593"",""15716"",""9989"",""8...","[""15851"",""9235"",""9587"",""7716"",""6259"",""11399"",""...","[""53549""]"
2,2008,3rd match,335984,Delhi Daredevils Vs Rajasthan Royals 3Rd Match,313494,Indian Premier League in India - 2008 (2007/08),2008-04-19,T20,4345,Royals,...,GA Pratapkumar,GR Viswanath,Royals,bat,Daredevils,Daredevils won by 9 wickets (with 29 balls rem...,11374.0,"[""54936"",""15473"",""10125"",""7632"",""3329"",""49247""...","[""7773"",""7781"",""15887"",""47624"",""8813"",""7520"",""...","[""51109"",""47100"",""54936""]"
3,2008,4th match,335986,Kolkata Knight Riders Vs Deccan Chargers 4Th M...,313494,Indian Premier League in India - 2008 (2007/08),2008-04-20,T20,4347,Chargers,...,K Hariharan,FM Engineer,Chargers,bat,KKR,KKR won by 5 wickets (with 6 balls remaining),11984.0,"[""4176"",""8163"",""3317"",""4382"",""48405"",""9570"",""7...","[""51216"",""10384"",""2230"",""2024"",""11984"",""19647""...","[""3317""]"
4,2008,5th match,335985,Mumbai Indians Vs Royal Challengers Bangalore ...,313494,Indian Premier League in India - 2008 (2007/08),2008-04-20,T20,4346,Mumbai,...,SJ Davis,J Srinath,Mumbai,bat,RCB,RCB won by 5 wickets (with 2 balls remaining),3947.0,"[""17850"",""1988"",""7447"",""8742"",""48349"",""47308"",...","[""2120"",""2281"",""44930"",""2232"",""49752"",""3947"",""...","[""7804""]"

In [3]:
#ipl ball by ball
ball_by_ball_df=pd.read_csv("./data/ipl_ball_by_ball_data.csv")
ball_by_ball_df

/var/folders/fd/_vqm4qqj113dx_9dmjpjrhfw0000gn/T/ipykernel_55978/2187232362.py:2: DtypeWarning: Columns (10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  ball_by_ball_df=pd.read_csv("./data/ipl_ball_by_ball_data.csv")

,series_id,match_id,innings_no,batsman_id,bowler_id,over_number,ball_number,over,total_runs,batsman_runs,...,issix,iswicket,byes,legbyes,wides,noballs,penalties,out_player_id,current_innings_runs,current_innings_wickets
0,1165643,1178429,1.0,51216.0,58274.0,1.0,1.0,0.1,1.0,1.0,...,False,False,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0
1,1165643,1178429,1.0,48927.0,58274.0,1.0,2.0,0.2,0.0,0.0,...,False,False,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0
2,1165643,1178429,1.0,48927.0,58274.0,1.0,3.0,0.3,0.0,0.0,...,False,False,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0
3,1165643,1178429,1.0,48927.0,58274.0,1.0,4.0,0.4,0.0,0.0,...,False,False,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0
4,1165643,1178429,1.0,48927.0,58274.0,1.0,5.0,0.5,0.0,0.0,...,False,False,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243652,313494,336013,2.0,11399.0,9022.0,20.0,2.0,19.2,2.0,2.0,...,False,False,0.0,0.0,0.0,0.0,0.0,NaN,163.0,6.0
243653,313494,336013,2.0,11399.0,9022.0,20.0,3.0,19.3,0.0,0.0,...,False,True,0.0,0.0,0.0,0.0,0.0,11399.0,163.0,7.0
243654,313494,336013,2.0,47185.0,9022.0,20.0,4.0,19.4,0.0,0.0,...,False,True,0.0,0.0,0.0,0.0,0.0,47185.0,163.0,8.0
243655,313494,336013,2.0,47184.0,9022.0,20.0,5.0,19.5,0.0,0.0,...,False,True,0.0,0.0,0.0,0.0,0.0,47184.0,163.0,9.0
243656,313494,336013,2.0,12810.0,9022.0,20.0,6.0,19.6,0.0,0.0,...,False,False,0.0,0.0,0.0,0.0,0.0,NaN,163.0,9.0

In [4]:
#group by batsman_id,match_id,innings_no and sum total_runs
#